@if (isAdmin) {
  <table>
    <tbody>
      @for (assignee of assignees; track assignee.name) {
        <tr>
          <td>
            @if (assignee.role === Role.ADMIN) {
              🧙
            }
            @if (assignee.role === Role.CONTRIBUTOR) {
              🦸
            }
            {{ assignee.name }}
          </td>
          <td>
            @if (assignee.secure) {
              <button (click)="resetPassword(assignee.name)">🔓</button>
            }
          </td>
          <td>
            @if (assignee.role !== Role.ADMIN) {
              <button (click)="toggleRole(assignee)">
                {{ assignee.role === Role.ASSIGNEE ? "🦸" : "🙋" }}
              </button>
              <button
                [disabled]="assignee.active"
                (click)="deleteAssignee(assignee.name)"
              >
                ☠️
              </button>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
  @for (category of categories; track category.id) {
    <p>
      {{ category.id }}
      <input [(ngModel)]="category.name" />
      <button (click)="updateCategory(category)">💾</button>
    </p>
  }

  <input [(ngModel)]="newCategoryId" />
  <input [(ngModel)]="newCategoryName" />
  <button
    (click)="createNewCategory()"
    [disabled]="!newCategoryId || !newCategoryName"
  >
    ➕️
  </button>
} @else {
  <h1>Netter Versuch</h1>
}
