.panel {
  text-align: center;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

#new-image {
  display: none;
}

button.assign {
  margin: 0px 6px 17px 0px;
}

button.mini {
  margin: 10px 6px 0px 0px;
}

.price {
  text-align: right;
}

item-form.mat-form-field {
  width: 300px;
}

.description {
  text-align: justify;
  margin: 13px;
  white-space: pre-wrap;
  text-align: center;
}

.assignees {
  margin-left: 13px;
  font-size: 19px;
}

.assignee {
  margin-left: 21px;
  margin-top: 3px;
}
