img {
    max-width: 100%;
}

textarea {
    resize: none;
}

#new-image {
    display: none;
}

button {
    margin: 10px 20px 0px 20px;
}

.price {
    text-align: right;
}

.fake-disabled {
    color: gray;
    cursor: default;
}
