.panel {
  text-align: center;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

#new-image {
  display: none;
}

button.assign {
  margin: 0px 6px 17px 0px;
}

button.mini {
  margin: 10px 6px 0px 0px;
}

.price {
  text-align: right;
}

.fake-disabled {
  color: gray;
  cursor: default;
}

mat-form-field {
  width: 300px;
}

.description {
  text-align: center;
  margin: 13px;
}