@if (initialized) {
  <div class="panel">
    <h1>{{ item.name || "Neuer Ramsch" }} {{isAssigned ? ' ☝️' : '' }} </h1>
  </div>
  @if (isContributor) {
    <mat-grid-list cols="1" rowHeight="5:1">
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Name"
            [(ngModel)]="item.name"
            (keyup)="setDirty()"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile rowspan="2">
        <mat-form-field>
          <mat-label>Beschreibung</mat-label>
          <textarea
            matInput
            placeholder="Beschreibung"
            rows="4"
            [(ngModel)]="item.description"
            (keyup)="setDirty()"
          ></textarea>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Kategorie</mat-label>
          <mat-select
            [(ngModel)]="item.category"
            (valueChange)="setDirty()"
            name="category"
          >
            @for (category of categories; track category) {
              <mat-option [value]="category.id">{{ category.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Preisvorstellung in €</mat-label>
          <input
            class="price"
            matInput
            type="number"
            placeholder="Preis"
            [(ngModel)]="item.price"
            (keyup)="setDirty()"
          />
        </mat-form-field>
      </mat-grid-tile>
      @if (isAdmin && item.id ) {
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Interessenten</mat-label>
            <mat-select
              multiple
              (selectionChange)="changeAssignee($event)"
              [value]="item.assignees"
            >
              @for (assignee of assignees; track assignee) {
                <mat-option [value]="assignee">{{ assignee }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      }
    </mat-grid-list>
  } @else {
    <div class="description">
      {{ item.description }}
    </div>
    @if (isAssignee && item.assignees.length) {
      <hr>
      <div class="assignees">Interessenten:</div>
      @for (assignee of item.assignees; track assignee) {
        <div class="assignee">☝️ {{ assignee }}</div>
      }
      <hr>
    }
  }
  @if (isContributor) {
    @for (comment of comments; track comment) {
      <div class="comment">
        <b>{{ comment.author }}: </b>
        {{ comment.text }}  
      </div>
    }
    <mat-form-field>
      <mat-label>Neuer Kommentar</mat-label>
      <textarea
        matInput
        placeholder="Neuer Kommentar"
        rows="4"
        [(ngModel)]="newComment"
      ></textarea>
    </mat-form-field>
    <button class="mini"
      mat-mini-fab
      [disabled]="!newComment"
      (click)="saveNewComment()"
    >
      <mat-icon>comment</mat-icon>
    </button>
  }
  @if (isAssignee) {
    <div [style.text-align]="isContributor ? 'right' : 'center'">
      @if (isAssigned) {
        <button class="assign"
          mat-stroked-button
          (click)="unassign()"
        > Kein Interesse mehr
        </button>
      }
      @else {
        <button class="assign"
          mat-flat-button
          [style.visibility]="item.id ? 'visible' : 'hidden'"
          (click)="assign()"
        > Ich wäre interessiert!
        </button>
      }
      @if (isContributor) {
        <button class="mini"
          mat-mini-fab
          [style.visibility]="item.id ? 'visible' : 'hidden'"
          (click)="clickNewImage()"
        >
          <mat-icon>add_a_photo</mat-icon>
        </button>
        <button mat-mini-fab  class="mini" [disabled]="saveDisabled()" (click)="saveItem()">
          <mat-icon>save</mat-icon>
        </button>
        <input
          #newImage
          id="new-image"
          type="file"
          accept="image/*"
          (change)="uploadNewImage($event)"
        />
      }
    </div>
  }
  @if (item.id) {
    @for (image of item.images; track image) {
      <a [href]="'/api/image/' + image">
        <img [src]="'/api/image/' + image + '/preview'" [alt]="image" />
      </a>
    }
  }
}
