@if (initialized) {
    <mat-grid-list cols="1" rowHeight="5:1">
        <mat-grid-tile>
            <h1>{{item.name || 'Neuer Ramsch'}}</h1>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" [(ngModel)]="item.name" (keyup)="setDirty()">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
            <mat-form-field>
                <mat-label>Beschreibung</mat-label>
                <textarea matInput placeholder="Beschreibung" rows="4" [(ngModel)]="item.description" (keyup)="setDirty()"></textarea>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Kategorie</mat-label>
                <mat-select [(ngModel)]="item.category" (change)="setDirty()" name="category">
                  @for (category of categories; track category) {
                    <mat-option [value]="category.id">{{category.displayName}}</mat-option>
                  }
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Preisvorstellung in €</mat-label>
                <input class="price" matInput type="number" placeholder="Preis" [(ngModel)]="item.price" (keyup)="setDirty()">
            </mat-form-field>
        </mat-grid-tile>
        @if (item.id) {
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Interessenten</mat-label>
                    <mat-select multiple (selectionChange)="changeAssignee($event)" [value]="item.assignees">
                      @for (assignee of assignees; track assignee) {
                        <mat-option [value]="assignee">{{assignee}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
            </mat-grid-tile>
        }
        <mat-grid-tile>
            <button mat-raised-button [class.fake-disabled]="pristine || !item.name" (click)="saveItem()">Speichern</button>
            <button mat-raised-button [style.visibility]="item.id ? 'visible' : 'hidden'" (click)="clickNewImage()">Ablichten</button>
            <input #newImage id="new-image" type="file" (change)="uploadNewImage($event)"/>
        </mat-grid-tile>
    </mat-grid-list>
    @if (item.id) {
        @for (image of item.images; track image) {
            <a [href]="'/api/image/' + image">
                <img [src]="'/api/image/' + image + '/preview'"/>
            </a>
        }
    }
}
