<div class="spacer"></div>
<div class="footer">
  <span class="faq">
  <span class="hspace"></span>
    <a href="/faq">- häufig gestellte Fragen -</a>
  </span>
  <span class="links">
    <span>powered with ❤️ by</span>
    <a href="https://github.com/blaszczyk/ramschi"
      ><img src="/github.png" alt="Quellcode"
    /></a>
    <a href="https://hub.docker.com/r/blaszczyk/ramschi">
      <img src="/docker.png" alt="DockerHub"
    /></a>
    <a href="https://cloud.google.com"
      ><img src="/google-cloud.png" alt="Google Cloud"
    /></a>
  <span class="hspace"></span>
  </span>
</div>
