.spacer {
  height: 20px;
}

.footer {
  position: absolute;
  bottom: 0px;
  height: 19px; /* keep in sync with spacer height */
  width: 100%;
  max-width: 400px;
  background-color: blanchedalmond;
  font-size: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
  z-index: 10;
}

.hspace {
    display: inline-block;
  width: 20px;
}

.faq {
float: left;
a { text-decoration: none;
color: #666666;
}
}

.links {
color: #666666;
    float: right;
  img {
    width: 15px;
    height: 15px;
    margin-left: 5px;
  }
}