/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon-menu {
  background-color: rgba(0,0,0,0);
  border: none;
  box-shadow: none;
  min-width: 60px;
  overflow: hidden;
 .menu-button {
    margin-bottom: 10px;
    transform: translateX(22px);
  }
}
