<div class="container">
  <h1>Häufig gestellte Fragen</h1>
  <h3>Worum geht es hier?</h3>
  <p>
    Die Wohngemeinschaft auf
    <a
      href="https://de.wikipedia.org/wiki/Burg_M%C3%BCttinghoven"
      target="_blank"
      >Schoss Müttinghoven</a
    >
    löst sich gezwungenermaßen auf. Wir haben viele Dinge, die wir nicht mehr
    brauchen, von denen für Dich vielleicht noch was von Interesse sein könnte.
  </p>
  <h3>Ich will etwas haben, was nun?</h3>
  <p>Wenn Du an etwas interessiert bist, dann melde Dich bei einem von uns. Wir freuen uns über alles was ein neues Zuhause findet.</p>
  <h3>Was passiert bei mehrfachem Interesse?</h3>
  <p>
    Mehrfaches Interesse ist möglich. In dem Fall muss muss man das unter sich
    ausmachen. Zuletzt entscheidet die WG.
  </p>
  <h3>Ich habe mein Passwort vergessen</h3>
  <p>
    Das ist kein Problem. Kontaktiere einfach den Administrator, er wird es Dir
    gerne zurücksetzen.
  </p>
  <h3>Impressum?</h3>
  <p>Ist nicht nötig da Ramschi keine kommerzielle Seite ist.</p>
</div>
