<div class="container">
  <h1>Häufig gestellte Fragen</h1>
  <h2>Worum geht es hier?</h2>
  <p>
    Die Wohngemeinschaft auf
    <a
      href="https://de.wikipedia.org/wiki/Burg_M%C3%BCttinghoven"
      target="_blank"
      >Burg Müttinghoven</a
    >
    löst sich auf. Wir haben viele Dinge, die wir nicht mehr
    brauchen, von denen für Dich vielleicht noch was von Interesse sein könnte.
  </p>
  <h2>Ich will etwas haben, was nun?</h2>
  <p>
    Wenn Du an etwas interessiert bist, dann melde Dich bei einem von uns. Wir
    freuen uns über alles was ein neues Zuhause findet.
  </p>
  <h2>Was passiert bei mehrfachem Interesse?</h2>
  <p>
    Mehrfaches Interesse ist möglich. In dem Fall muss muss man das unter sich
    ausmachen. Zuletzt entscheidet die WG.
  </p>
  <h2>Ich habe mein Passwort vergessen</h2>
  <p>
    Das ist kein Problem. Kontaktiere einfach den Administrator, er wird es Dir
    gerne zurücksetzen.
  </p>
</div>

<div class="footer">
  <span class="links">
    <span>powered with ❤️ by</span>
    <a href="https://github.com/blaszczyk/ramschi"
      ><img src="/github.png" alt="Quellcode"
    /></a>
    <a href="https://hub.docker.com/r/blaszczyk/ramschi">
      <img src="/docker.png" alt="DockerHub"
    /></a>
    <a href="https://cloud.google.com"
      ><img src="/google-cloud.png" alt="Google Cloud"
    /></a>
    <span class="hspace"></span>
  </span>
</div>