<mat-grid-list cols="1" rowHeight="70px">
  @for (item of items; track item) {
    <mat-grid-tile>
      <div class="item" (click)="navigateTo(item)">
        <div class="item-name">{{ item.name }}</div>
        <div class="item-description">
          @if (isAssignee) {
            <span class="symbol-assignee">{{ getSymbolAssignee(item) }}</span>
          }
          <span [innerHTML]="urlify(item.description)"></span>
        </div>
        <div class="images">
          @for (image of item.images.slice(0, 2); track image) {
            <img
              class="thumbnail"
              [src]="'/api/image/' + image + '/thumbnail'"
              height="60px"
              [alt]="image"
            />
          }
        </div>
      </div>
    </mat-grid-tile>
  }
</mat-grid-list>
