<mat-grid-list cols="1" rowHeight="70px">
    @for (item of items; track item) {
        <mat-grid-tile>
            <div class="item" (click)="navigateTo(item)">
                <div class="item-name">{{ item.name }}</div>
                <div class="images">
                    @for (image of item.images.slice(0, 2); track image) {
                    <img [src]="'/api/image/' + image + '/thumbnail'" height="60px"/>
                    }
                </div>
            </div>
        </mat-grid-tile>
    }
</mat-grid-list>
