.page {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    white,
    blanchedalmond,
    blanchedalmond,
    blanchedalmond,
    blanchedalmond,
    white
  );
}

.container {
  max-width: 400px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  background-color: blanchedalmond;
}

app-ramschi-header {
  position: sticky;
  top: 0px;
  z-index: 13;
}

app-ramschi-filter {
  position: sticky;
  top: 56px;
  z-index: 13;
}

.scrollarea {
  position: relative;
  top: 5px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.screenlock {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 196883;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  img {
    position: absolute;
  }
}
