<div class="page">
  <link rel="preload" as="image" href="/spinner-0.gif" />
  <link rel="preload" as="image" href="/spinner-1.gif" />
  <link rel="preload" as="image" href="/spinner-2.gif" />
  <link rel="preload" as="image" href="/spinner-3.gif" />
  @if (showSpinner) {
    <div class="screenlock">
      @for (spinner of spinners; track spinner) {
        <img
          [style.transform]="spinner.cssPosition"
          [style.z-index]="spinner.zIndex"
          src="/spinner-{{ spinner.offset }}.gif"
          width="100"
          height="100"
          alt="huiii"
        />
      }
    </div>
  }
  <div #container class="container">
    @if (loggedIn) {
      <app-ramschi-header></app-ramschi-header>
      @if (showFilter) {
        <app-ramschi-filter></app-ramschi-filter>
      }
      <div class="scrollarea">
        <router-outlet></router-outlet>
      </div>
    } @else {
      <app-login></app-login>
    }
  </div>
</div>
