<div class="page">
  @if (showSpinner) {
    <div class="screenlock">
      <img [style.transform]="spinnerPosition" src="/spinner.gif" width="100" height="100" alt="huiii"/>
    </div>
  }
  <div #container class="container">
    @if (loggedIn) {
      <app-ramschi-header></app-ramschi-header>
      @if (showFilter) {
        <app-ramschi-filter></app-ramschi-filter>
      }
      <div class="scrollarea">
        <router-outlet></router-outlet>
      </div>
    } @else {
      <app-login></app-login>
    }
  </div>
</div>
