<div class="page">
  @if (showSpinner) {
    <div class="screenlock">
      <mat-spinner></mat-spinner>
    </div>
  }
  <div #container class="container">
    @if (loggedIn) {
      <div class="header">
        <div class="logo" (click)="navigateTo('/')">
          <img src="/ramschi.png" alt="Ramschi" />
        </div>
        <div class="buttons">
          <div class="assignee">Hallo {{ assignee }}!</div>
          @if (isContributor) {
            <button mat-mini-fab (click)="navigateTo('/ramsch')">
              <mat-icon>add_circle</mat-icon>
            </button>
          }
          <button mat-mini-fab (click)="logout()">
            <mat-icon>{{ isAssignee ? 'logout' : 'login'}}</mat-icon>
          </button>
        </div>
      </div>
      <div class="scrollarea">
        <router-outlet></router-outlet>
      </div>
    } @else {
      <app-login></app-login>
    }
  </div>
</div>
